<div id="videoContainer" #videoContainer>
    <p *ngIf="errorInPlaying">
        {{errorMsg}}
    </p>
    <video #videoPlayer id="videoPlayer" width="100%" height="100%" title="this is title"></video>
</div>

<!-- <script defer src="assets/mux.js"></script> -->
<!-- poster="//shaka-player-demo.appspot.com/assets/poster.jpg" -->