<div class="container">
    <div>
        <h1>1st video</h1>
        <p>first video running on shaka-player</p>
        <app-basic [parentUrl]="url1" [parentBanner]="banner1" [parentAutoplay]="true"></app-basic>
    </div>
    <div>
        <h1>2nd video</h1>
        <p>second video running on shaka-player</p>
        <app-hls [parentUrl]="url2" [parentBanner]="banner2" [parentAutoplay]="false"></app-hls>
    </div>
    <div>
        <h1>3rd video</h1>
        <p>third video running on shaka-player</p>
        <app-basic [parentUrl]="url3" [parentBanner]="banner3" [parentAutoplay]="true"></app-basic>
    </div>
</div>